/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
.navbar-nav{
  justify-items: end;
}
#hero-section{
  background-image:
    linear-gradient(rgba(0,0,0,.001), rgba(0,0,0,.8)),
    url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#footer-section{
  color: white;
}

h1{
  color: #BFACE2;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-shadow: 6px 2px rgba(98,90,137,.9);
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.profile-pic{
  background-image:
    url(img/myself.jpg);
  background-size: 170%;
  background-position-y: 45%;
  background-position-x: center;
  width:200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  border: solid 10px #645CBB;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  margin: 10px;
}
blockquote{
  color: #EBC7E6;
}

figure{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-shadow: 2px 2px rgba(183,135,120, .2);
}


#skills-section{
  background-color: #A084E8;
  padding: 30px;
}

#skills-section p{
  color: #4E31AA;
}

#skills-section i{
  font-size:100px;
}
#aboutmetext{
  padding: 10px;
}

#mission-section{
  background-color: #BFACE2;
}

#mission-section p{
  color: #6F61C0;
}

p{
  margin:0px;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size:16px;
}

.bi-pencil-fill{
  color: #285943;
}
#about-meinfo img{
  object-fit: cover;
  object-position: center;
  height: 50vh;
  width: 50vw;
  overflow: hidden;
  padding-bottom: 20px;
}

#contact-section{
  background-color: #BFACE2;
  padding-top: 40px;
}

#contact-section i{
  font-size: 80px;
}

#contact-section i:hover{
  color: #EBC7E6;
}


h2{
  color: #3A1078;
  padding: 30px;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3{
  color: #3A1078;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}